.login-page{
    min-height:calc(100vh - 70px);
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    gap:10px;

}

.login-page h1{
    font-size:40px;
    color:#111827;

}


.login-page p{
    color:#6b7280;
}